body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
}

.active {
    color: red;
}

.sexy_font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Nenu",sans-serif;
}