@import "reset.css";
@import "fonts.css";

#container {
    position: relative;
}

.logo {
    position: fixed;
    z-index: 2;
    top: 17.1px;
    left: 30px;
}

.sidebar-text{
    position: fixed;
    z-index: 2;
    font-size: 11px;
    font-family: 'AppleGothic-M';
    font-weight: 8px;
    color: #6d6d6d;
}

#library-text {
    top: 240px;
    left: 34px;
}

.sidebar {
    position: fixed;
    float: left;
    width: 259px;
    height: 100vh;
    background-color: #f9f9f9;
    z-index: 1;
    border-right: #e0e0e0 solid 1px;
}

#search {
    all: unset;
    position: fixed;
    width: 175px;
    height: 30px;
    border-radius: 5px;
    z-index: 2;
    float: left;
    background-color: #ffffff;
    margin: 65px 0 0 27px;
    padding-left: 37px;
    border-color: #d9d9d9;
    font-size: small;
}

#secrch-icon {
    position: fixed;
    top: 69px;
    left: 37px;
    stroke-width: 1px;
    z-index: 3;
}

#home-btn {
    top: 119px;
    left: 33px;
}

.sidebar-btn {
    all: unset;
    position: fixed;
    width: 190px;
    height: 38px;
    z-index: 3;
    background-color: #f9f9f9;
    border-color: #ffffff;
    text-align: left;
    padding-left: 35px;
    font-size: 13px;
    font-family: 'AppleGothic-L';
}

#home-icon {
    position: fixed;
    top: 125px;
    left: 40px;
    z-index: 4;
    stroke: #f0d1d0;
    stroke-width: 1px;
    fill: #c2423f
}

#new-music-btn{
    top: 157px;
    left: 33px;
}

#new-music-icon {
    position: fixed;
    top: 163px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#radio-btn {
    top: 195px;
    left: 33px;
}

#radio-icon {
    position: fixed;
    top: 201px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#recently-added-btn {
    top: 253px;
    left: 33px;
}

#recently-added-icon{
    position: fixed;
    top: 259px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#artist-btn {
    top: 291px;
    left: 33px;
}

#artist-icon {
    position: fixed;
    top: 297px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#album-btn {
    top: 329px;
    left: 33px;
}

#album-icon {
    position: fixed;
    top: 335px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#music-icon {
    position: fixed;
    top: 373px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#music-btn {
    top: 365px;
    left: 33px;
}

#made-for-you-btn {
    top: 401px;
    left: 33px;
}

#made-for-you-icon {
    position: fixed;
    top: 407px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#playlist-text{
    top: 451px;
    left: 34px;
}

#all-playlist-btn {
    top: 466px;
    left: 33px;
}

#all-playlist-icon {
    position: fixed;
    top: 472px;
    left: 40px;
    z-index: 4;
    stroke: #c2423f;
    stroke-width: 0px;
    fill: #c2423f
}

#sidebar-footer-box{
    position: fixed;
    top: 550px;
    left: 0px;
    width: 259px;
    height: 138px;
    background-color: #f9f9f9;
    border-color: #ffffff;
    z-index: 3;;
    border-top: #e0e0e0 solid 1px;
    border-top-width: 1px;
    border-right: #e0e0e0 solid 1px;
}

#itunes-icon {
    position: fixed;
    top: 570px;
    left: 35px;
    z-index: 4;
    fill: #6d6d6d
}

#itunes-link{
    position: fixed;
    top: 578px;
    left: 68px;
    z-index: 4;
    font-size: 13px;
    font-family: 'AppleGothic-L';
    color: #6d6d6d;
}

#beta-link{
    position: fixed;
    top: 635px;
    left: 35px;
    z-index: 4;
    font-size: 13px;
    font-family: 'AppleGothic-L';
    color: #6d6d6d;
}

header{
    position: fixed;
    height: 50px;
    width: 100%;
    border-bottom: #e0e0e0 solid 1px;
}