#left{
    position: relative;
    float: left;
    width: 200px;
    height: 400px;
    background-color: yellow;
}

#left_two{
    position: relative;
    z-index: -1;
    float: left;
    width: 690px;
    height: 400px;
    left: 200px;
    background-color: pink;
}

#right_two{
    position: relative;
    z-index: -1;
    float: right;
    width: 600px;
    height: 400px;
    background-color: purple;
}

#right{
    position: relative;
    float: right;
    width: 250px;
    height: 400px;
    background-color: blue;
}

header{
    background-color: red;
    height: 80px;
}

footer{
    position: absolute;
    z-index: 2;
    background-color: green;
    height: 80px;
    width: 100%;
    margin-top: 25%;
}